<html>
    <head>
        <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css">
    </head>
<body>
{{! NAVBAR }}
<nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="gym-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    The Greatest Fitness App of All Time
  </a>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/things-todo">Things To Do</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/#panel7">Login/Sign Up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link modal-navbar" href="/logout" data-toggle="modal" data-target="#modalRegisterForm">{{logout}}</a>
  </li>
   {{! <li class="nav-item">
    <a class="nav-link" href='/logout'>Logout</a>   //Backup logout
  </li> }}
</ul>
</nav>
{{! END NAVBAR }}
<h1 class="d-flex flex-row justify-content-center pt-4">About Us</h1>

<!--Main content-->

<!-- Section: Features v.3 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Why Formation?</h2>
  <!-- Section description -->
  <p class="lead grey-text text-center w-responsive mx-auto mb-5">A simple tool to store and view your exercise routine in the Houston area.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5 text-center text-lg-left">
      <img  class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-1">
          <i class="fa fa-info" aria-hidden="true"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Individualized</h5>
          <p class="grey-text">"Customize your routine, add a goal, and receive recommendations for programs in the Houston area tailored to your needs."</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-1">
         <i class="fa fa-info" aria-hidden="true"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Simplicity</h5>
          <p class="grey-text">A user simply creates a log of his exercise: type of exercise, duration, total weight resistance, and number of repetitions.  A user can easily view her progress and compare individual workouts.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!--Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-1">
         <i class="fa fa-info" aria-hidden="true"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Flexibility</h5>
          <p class="grey-text mb-0">Easily change your routine.  Add a new goal, and receive new recommendations.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Features v.3 -->



<!--Testimonials -->

<!-- Section: Testimonials v.3 -->
<section class="team-section text-center my-5">

 <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5 maintitle">Formation Testimonials</h2>
  <!-- Section description -->
  <p class="dark-grey-text w-responsive mx-auto mb-5">Since 2018 we've served over 1,000 users in Harris County.  Read their experiences below.</p>

  <!--Grid row-->
  <div class="row text-center">

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="Headshot1.jpg" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Alyssa Dunbar</h4>
        <h6 class="font-weight-bold blue-text my-3">Senior Account Manager, Baker Hughes</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fa fa-quote-left pl-2 ml-1"></i>"I've followed fitness plans for years, but never seemed to maintain the results.  With Formation this was no longer the case:  All your achievements stored in a single place, set side-by-side to give you a portrait of your progress.  I no longer have to guess if I'm on the right track."</i</p>
        <!--Review-->
        <div class="orange-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star-half-full"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="headshot2.jpg" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Taylor Finkelstein</h4>
        <h6 class="font-weight-bold blue-text my-3">Financial Analyst, JP Morgan</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fa fa-quote-left pr-2"></i>Formation syncs perfectly with the professional.</p>
        <!--Review-->
        <div class="orange-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="headshot3.jpg" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Julia Broadman</h4>
        <h6 class="font-weight-bold blue-text my-3">Freelance Photographer</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fa fa-quote-left pr-2"></i>"My schedule often prevents me from keeping track of my workouts.  Since using Formation: Houston I've had my best body for over a year!"</p>
        <!--Review-->
        <div class="orange-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star-o"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
</body>
</html>