<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/registerUser" method="post">
      <div>
        <input type="email" name="registerEmail" placeholder="enter email">
        <input type="password" name="registerPassword" placeholder="password">
        <input type="submit" value="Register">
      </div>
    </form>

    <form action="/login" method="post">
      <input type="email" name="loginEmail" placeholder="enter email">
      <input type="password" name="loginPassword" placeholder="password">
      <input type="submit" value="Login">
    </form>
  </body>
</html>
