<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    </head>
  <body>
    <!--Navbar-->
  <nav class="navbar sticky-top navbar-light navbar-1 white">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="/">
          <img src="gym-logo.png" width="100" height="70" class="d-inline-block align-top" alt=""></a>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent15">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about-us">About Us</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="/things">Things To Do</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#panel7" data-toggle="modal" data-target="#modalRegisterForm">Login/Register</a>
              </li>
          </ul>
          <!-- Links -->

      </div>
      <!-- Collapsible content -->

   </nav>
<!--/.Navbar-->
    <!--U/I Modal -->

<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Modal cascading tabs-->
            <div class="modal-c-tabs">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-2 light-blue darken-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel7" role="tab"><i class="fa fa-user mr-1"></i>Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fa fa-user-plus mr-1"></i>Register</a>
                    </li>
                </ul>


                <!-- Tab panels -->
                <div class="tab-content">
                    <!--Panel 7-->
                    <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

                        <!--Body-->
                        <div class="modal-body mb-1">
                        <form  action="/login" method="post">
                            <div class="md-form form-sm mb-5">
                                <i class="fa fa-envelope prefix"></i>
                                <input type="email" id="modalLRInput10" class="form-control form-control-sm validate" name="loginEmail">
                                <label data-error="wrong" data-success="right" for="modalLRInput10">Your email</label>
                            </div>

                            <div class="md-form form-sm mb-4">
                                <i class="fa fa-lock prefix"></i>
                                <input type="password" id="modalLRInput11" class="form-control form-control-sm validate" name="loginPassword">
                                <label data-error="wrong" data-success="right" for="modalLRInput11">Your password</label>
                            </div>
                             <div class="text-center mt-2">
                                <i class="fa fa-sign-in ml-1"></i>
                                <input type="hidden" name="userId" value={{user.id}}>
                                <input type="submit" name="" value="Log In">
                            </div>
                            </form>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                    <!--/.Panel 7-->

                    <!--Panel 8-->
                    <div class="tab-pane fade" id="panel8" role="tabpanel">

                        <!--Body-->
                        <div class="modal-body">
                        <form  action="/registerUser" method="post">
                            <div class="md-form form-sm mb-5">
                                <i class="fa fa-envelope prefix"></i>
                                <input type="email" id="modalLRInput12" class="form-control form-control-sm validate" name="registerEmail" value="">
                                <label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
                            </div>

                            <div class="md-form form-sm mb-5">
                                <i class="fa fa-lock prefix"></i>
                                <input type="password" id="modalLRInput13" class="form-control form-control-sm validate" name="registerPassword" value="">
                                <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
                            </div>

                            <div class="md-form form-sm mb-4">
                                <i class="fa fa-lock prefix"></i>
                                <input type="password" id="modalLRInput14" class="form-control form-control-sm validate" name="passwordConfirmation" value="">
                                <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat password</label>
                            </div>

                            <div class="text-center form-sm mt-2">
                                <i class="fa fa-sign-in ml-1"></i>
                                <input type="submit" name="" value="Sign Up">
                            </div>
                            </form>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Card-->
<div class="container" id="mainContainer">
  <div class="card" style="padding-top: 25px;">

    <!--Card image-->
    <div class="view overlay">
        <img src="http://ironla.com/wp-content/uploads/2017/04/IMG_5803_corrected.jpg" class="img-fluid" alt="">
        <a href="#">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!--Card content-->
    <div class="card-body text-center mb-3">
        <!--Title-->
        <h3 class="card-title mt-2 pb-4"><strong>Fitness Tracker</strong></h3>
        <!--Text-->
        <p class="card-text">Track your fitness and keep crushing it. Sign up today!
        </p>
        <div class="text-center">
            <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">Register/Log-in!</a>
        </div>
    </div>

</div>
</div>
<!--/.Card-->
</div>

<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 mt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Footer Content</h5>
        <p>Organize your exercise routine with our simple yet powerful app.</p>
        <p>Join thegreatestfitnessapp and witness how others have become more dedicated to their workouts. </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li><p><a href="#!">PROJECTS</a></p></li>
          <li><p><a href="/about-us">ABOUT US</a></p></li>
          <li><p><a href="#!">BLOG</a></p></li>
          <li><p><a href="#!">AWARDS</a></p></li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li><p><i class="fa fa-home mr-3"></i>3302 Canal St, Houston, TX 77003</p></li>
          <li><p><i class="fa fa-envelope mr-3"></i> help@thegreatestfitnessapp.com</p></li>
          <li><p><i class="fa fa-phone mr-3"></i> (281) 330-8004</p></li>
        </ul>

      </div>
    

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="#">thegreatestfitnessapp.com</a>
      </div>
  <!-- Copyright -->

    </footer>


  </body>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>

</html>
