<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
    {{#users}}
      <li>
      {{firstname}} {{lastname}}

      {{age}}

      {{gender}}

      {{weight}}

      {{height}}

      {{activitylevel}}

      {{city}}

      {{state}}

      {{goals}}

      {{email}}

      <a href='/userworkouts/{{id}}'>Add Workout</a>

      </li>

    {{/users}}
    <ul>


      <a href='/logout'>Logout</a>
    



  </body>
</html>
