<html>
<head>
    <title> User Profile </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
<!-- Image and text -->
<!--Navbar-->
<nav class="navbar sticky-top navbar-light navbar-1 white">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">
        <img src="gym-logo.png" width="100" height="70" class="d-inline-block align-top" alt=""></a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent15">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-us">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/things">Things To Do</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/userprofile">My Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->

 </nav>
</header>
{{! Card }}
<div class="container" id="profileContainer">
  <div class="card text-center">
      <h3 class="card-header primary-color white-text">
      {{#users}}{{firstname}} {{lastname}}{{/users}}
      </h3>
      <div class="card-body">
        <table class="table table-striped">
            <tbody class="container text-center">
            {{#users}}
            <tr>
                <td>Age:</td>
                <td>{{age}}</td>
            </tr>
             <tr>
                <td>Gender:</td>
                <td>{{gender}}</td>
            </tr>
            <tr>
                <td>Weight:</td>
                <td>{{weight}} lbs.</td>
            </tr>
            <tr>
                <td>Height:</td>
                <td>{{height}} inches</td>
            </tr>
            <tr>
                <td>City:</td>
                <td>{{city}}</td>
            </tr>
            <tr>
                <td>State:</td>
                <td>{{state}}</a></td>
            </tr>
            <tr>
                <td>Activity Level:</td>
                <td>{{activitylevel}} out of 10.</td>
            </tr>
            <tr>
                <td>Goals:</td>
                <td>{{goals}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{email}}</td>
            </tr>

          </tbody>
        </table>
        <a href='/userworkouts/{{id}}' class="btn btn-primary">Add/View Workouts</a>
        {{/users}}
      </div>
  </div>
</div>
{{! Card }}



    <!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 mt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Footer Content</h5>
        <p>Organize your exercise routine with our simple yet powerful app.</p>
          <p>Join thegreatestfitnessapp and witness how others have become more dedicated to their workouts. </p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li><p><a href="/about-us">ABOUT US</a></p></li>
          <li><p><a href="https://www.digitalcrafts.com/">Become a Builder</a></p></li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li><p><i class="fa fa-home mr-3"></i>3302 Canal St, Houston, TX 77003</p></li>
          <li><p><i class="fa fa-envelope mr-3"></i> help@thegreatestfitnessapp.com</p></li>
          <li><p><i class="fa fa-phone mr-3"></i> (281) 330-8004</p></li>
        </ul>

      </div>

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->


</footer>
<!-- Footer -->

</body>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>

</html>
