* Profile Page */

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

/* Profile Page */

/* Box */

.box {
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    width: 30%;
    height: 30%;

    border-radius: 25px;
}

/* Box */

/* Form Container */
#formContainer {
    max-width: 550px;
    padding: 20px;
}
/* Form Container */

/* Title */
.title {
    color:white;
}
/* Title */

#mainContainer {
    max-width: 550px;
    padding: 20px;
}

#workoutContainer {
    max-width: 550px;
}

/*Page Headers*/

.maintitle {


}